<div class="footerContainer">
  <li class="copyright"><a href="http://www.girlsontheball.com">&copy; GOTB 2017</a></li>
</div>
<div class="socialMedia">
  <ul>
    <li id="Twitter"><a href="https://twitter.com/GirlsontheBall">Twiter</a></li>
    <li id="Facebook"><a href="https://www.facebook.com/GirlsontheBall/?ref=aymt_homepage_panel">Facebook</a></li>
    <li id="Instagram"><a href="https://www.instagram.com/girlsontheball">Instagram</a></li>
  </ul>
</div>
